@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Solway:wght@300;400;500;700;800&family=Special+Elite&display=swap');

html { 
	height: 100%;
	width: 100%;
	background: url("paper.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 1em;
	padding: 2em  4em;
	font-family: "IM Fell English", serif;
}

i {
	font-style: italic;
	background-color:#eea;
}

span.music_symbols {
	background-color:#fff;
	color:#44b;
	font-weight: bold;
	font-family: monospace;
    white-space: pre;
}

H1, legend {
	font-family: "Rye", serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 3em;
}

div.description {
	font-size: 1em;
	background: rgba(255, 255, 235, 0.66);
	padding: 2em 3em;
	margin: 0 0 1em 0;
	font-family: "Solway", serif;
	border: solid #fff 0.2em;
}

p, ul {
	margin: 0 0 1em 0;
	padding: 0;
	line-height: 1.33em;
}

a, a:hover, a:visited {
	color: #631;
}

legend {
	font-size: 2em;
}

fieldset {
	margin: 0 0 1em 0;
	padding: 1em;
	border-radius: 1em;
	background: rgba(255, 255, 255, 0.66);
}

label {
	visibility: hidden;
}

button {
	margin: 1em;
	padding: 0.25em 1em;
	font-family: "IM Fell English", serif;
	font-size: 1.5em;
	border-radius: 0.5em;
	border: solid #888 0.1em;
	background-color: #fff;
	color:#000;
}

button:hover {
	border: solid #000 0.1em;
	background-color: #000;
	color:#fff;
}

div#paper, div#abc {
	margin: 1em;
	padding: 1em;
	/*width: 75%;*/
	min-height: 4em;
	border: solid #fff 0.1em;
	background-color:#ffe;
	font-size: 1em;
	line-height: 1.25em;
	font-family: "IM Fell English", serif;
	font-family: monospace;
    white-space: pre;
}

fieldset p {
	margin: 0 0 1em 1em;
	padding: 0;
}
